@keyframes appearIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes animatedBackground {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

.servicesMain {
  height: 700px;
  padding: 250px 80px 0px 70px;
  /* width: 100%; */
}
.servicesMain.heightAnimate {
  height: 10px !important;
  padding: 0px !important;
}
.firstRow {
  display: flex;
  /* justify-content: space-between; */
  height: 60%;
}

.secondRow {
  display: flex;
  justify-content: space-between;
  height: 40%;
}

.cell1 {
  width: 50%;
  height: 90%;
  border-radius: 45px;
  background: url(../../assets/interior.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-right: 20px;
}
.cell1.cell1.animated:hover {
  box-shadow: 1px 1px 50px rgba(255, 255, 255, 0.316);
  transform: scale(1.02) !important;
}
.cell1.animated {
  animation: appearIn 0.4s ease-out forwards;
  transform-origin: 50% 50%;
}
.cell1.animated .service-button {
  animation: appearIn 0.9s ease-out forwards;
  transform-origin: 50% 50%;
}
.cell2 {
  width: 15%;
  height: 90%;
  background: url(../../assets/lifeguard.jpeg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 200px;
  margin-right: 20px;
}
.cell2.animated:hover {
  box-shadow: 1px 1px 50px rgba(255, 255, 255, 0.415);
  transform: scale(1.02) !important;
}
.cell2.animated {
  animation: animatedBackground 0.8s ease-in-out forwards;
  transform-origin: 0% 100%;
}
.cell3 {
  width: 33%;
  height: 90%;
  border-radius: 70px;
  background-color: #082037;
  /* position: relative; */
}
.cell3.animated {
  animation: appearIn 1.1s ease-out forwards;
  transform-origin: 50% 50%;
}
.cell3contents {
  padding-top: 40px;
  padding-left: 40px;
}
.cell3Button {
  display: flex;
  justify-content: center;
}
.cell3.animated .cell3Button {
  animation: appearIn 2.1s ease-out forwards;
  transform-origin: 50% 50%;
}
.cell3Title {
  font-size: 55px;
  text-align: start;
  font-family: "GratelosBold";
}
.cell3Title.animated {
  animation: appearIn 1.4s ease-out forwards;
  transform-origin: 50% 50%;
}
.cell3Text {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 100px;
}
.cell3Text.animated {
  animation: appearIn 1.85s ease-out forwards;
  transform-origin: 50% 50%;
}
.cell4 {
  width: 32%;
  height: 90%;
  border-radius: 40px;
  background: linear-gradient(rgba(19, 143, 162, 0.746), rgba(68, 84, 225, 0)),
    url(../../assets/carimage.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.cell4.animated:hover {
  box-shadow: 1px 1px 50px rgba(255, 255, 255, 0.415);
  transform: scale(1.02) !important;
}
.cell4.animated {
  animation: appearIn 1.4s ease-out forwards;
  transform-origin: 50% 50%;
}
.cell4.animated .service-button {
  animation: appearIn 1.85s ease-out forwards;
  transform-origin: 50% 50%;
}
.cell5 {
  width: 32%;
  height: 90%;
  border-radius: 40px;
  background: url(../../assets/redhouseimage.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.cell5.animated:hover {
  box-shadow: 1px 1px 50px rgba(255, 255, 255, 0.415);
  transform: scale(1.02) !important;
}
.cell5.animated {
  animation: appearIn 1.8s ease-out forwards;
  transform-origin: 50% 50%;
}
.cell5.animated .service-button {
  animation: appearIn 2.25s ease-out forwards;
  transform-origin: 50% 50%;
}
.cell6 {
  width: 32%;
  height: 90%;
  border-radius: 40px;
  background: url(../../assets/pillsimage.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.cell6.animated:hover {
  box-shadow: 1px 1px 50px rgba(255, 255, 255, 0.415);
  transform: scale(1.02) !important;
}
.cell6.animated {
  animation: appearIn 2.2s ease-out forwards;
  transform-origin: 50% 50%;
}
.cell6.animated .service-button {
  animation: appearIn 2.3s ease-out forwards;
  transform-origin: 50% 50%;
}
.service-button {
  color: #ffffff;
  background-color: #080c18;
  border: 1.5px solid #080c18;
  border-radius: 2em;
  padding: 1.3rem 0.1rem;
  font-size: 1rem;
  cursor: pointer;
  width: 233px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 25px;
}
.service-button:hover {
  color: var(--mainSkyBlue);
  /* background-color: transparent; */
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
.viewall-button {
  color: var(--mainBlue);
  background-color: #fe6f81;
  border: 1.5px solid var(--mainRed);
  border-radius: 2em;
  padding: 1rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  width: 292px;
  text-align: center;
  margin-bottom: 30px;
}
.viewall-button:hover {
  color: #ffffff;
  /* background-color: transparent; */
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
