.aboutMain {
  position: relative;
  padding: 140px 60px 0px 60px;
  height: 700px;
  background-image: linear-gradient(
    to bottom,
    #080c18,
    #090e1b,
    #09101f,
    #091222,
    #081426
  );
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}
.aboutFirstRow {
  display: flex;
  /* justify-content: space-between; */
  height: 60%;
}

.aboutSecondRow {
  display: flex;
  justify-content: space-between;
  height: 10%;
  position: absolute;
  bottom: 30px;
  width: -webkit-fill-available;
}

.aboutCell1 {
  width: 55%;
  height: 90%;
}

.question {
  font-size: 60px;
}
.questionMark {
  font-size: 67px;
  font-family: "BebasNeueBold";
  padding-left: 5px;
}

.aboutInsuranceOptions {
  display: flex;
  width: 64%;
  padding-top: 40px;
  /* justify-content: space-between; */
}

.aboutInsuranceOptions div {
  text-align: center;
  margin-right: 10px;
  padding: 0.5em 1.3em;
  border-radius: 50px;
  background-color: #131d2c;
  font-size: 14px;
  font-weight: 400;
}
.aboutInsuranceOptions div:first-child {
  background-color: #e5e4e2;
  color: #131d2c;
}

.aboutForm {
  width: 66%;
  display: flex;
  padding-top: 40px;
}
.firstField {
  width: 50%;
  margin-right: 40px;
}
.secondField {
  width: 50%;
}
.label {
  font-size: 12px;
  font-weight: 100;
  padding-bottom: 10px;
}

input {
  background-color: #222d46;
  border: none;
  height: 60px;
  border-radius: 30px;
  width: 100%;
  padding-left: 20px;
}
input::placeholder {
  color: #3e4863;
}
.input:nth-child(2) {
  display: flex;
}
.input:nth-child(2) span {
  display: flex;
  align-items: center;
  margin-left: -35px;
}
.input:nth-child(2) svg {
  font-size: 20px;
}
.serviceOption {
  padding-bottom: 40px;
}
.d-flex {
  display: flex;
  padding-bottom: 10px;
}
.heading {
  font-size: 20px;
  padding-bottom: 15px;
}
.option {
  font-size: 15px;
  font-weight: 100;
  padding-right: 20px;
  color: #838790;
}

.aboutCalculateButton {
  padding-top: 40px;
  display: flex;
  justify-content: start;
}
.about-button {
  color: #ffffff;
  background-color: #fe6f81;
  border: 1.5px solid #e36b7a;
  border-radius: 2em;
  padding: 1rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  width: 493px;
  text-align: center;
  margin-bottom: 30px;
}
.about-button:hover {
  color: #ffffff;
  /* background-color: transparent; */
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

.aboutCell3 {
  display: flex;
}

.aboutCell3 div {
  display: flex;
  align-items: center;
  font-weight: 200;
}

.aboutCell3 div:nth-child(1) {
  margin-right: 20px;
}

.aboutCell3 svg {
  width: 50px;
  height: 50px;
  animation: spinner 3s ease-out infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.aboutCell4 {
  display: flex;
  align-items: center;
  font-weight: 200;
  text-decoration: underline;
  padding-right: 60px;
}
