.careerMain {
  display: flex;
  padding: 0px 40px 0px 90px;
  height: 700px;
  /* width: 100%; */
}

.careerText {
  /* display: flex; */
  align-items: start;
  height: 550px;
  width: 30%;
  padding-top: 80px;
  padding-right: 60px;
  /* transform: scaleY(1.4); */
  /* font-weight: 900 !important; */
}

.careerText div {
  font-size: 85px;
  line-height: 1em;
  font-family: "GratelosBold";
}

.careerText div:nth-child(3) {
  font-size: 165px;
  line-height: 1em;
}
.careerText.animated div:nth-child(1) {
  animation: appearIn 0.5s ease-in forwards;
  transform-origin: -100% 100%;
  /* animation-duration: 0.7s; */
}
.careerText.animated div:nth-child(2) {
  animation: appearIn 0.7s ease-in forwards;
  transform-origin: -100% 100%;
  /* animation-duration: 1s; */
}
.careerText.animated div:nth-child(3) {
  animation: appearIn 0.9s ease-in forwards;
  transform-origin: -100% 100%;
  /* animation-duration: 1.5s; */
}
.careerInfo {
  width: 70%;
  display: flex;
}
.careerInfo .info {
  width: 60%;
  padding-top: 60px;
}
.careerInfo .infoimage {
  width: 39%;
  padding-top: 0px;
}
.careerInfo .infoChild {
  padding-bottom: 3.5em;
}
.careerInfo .infoChild:nth-child(2) {
  padding-bottom: 2em;
}
.careerInfo.animated .infoChild:nth-child(1) {
  animation: appearIn 0.9s ease-in forwards;
  transform-origin: 0% 50%;
}
.careerInfo.animated .infoChild:nth-child(2) {
  animation: appearIn 1.2s ease-in forwards;
  transform-origin: 0% 50%;
}
.careerInfo .infoImageChild {
  width: 85%;
  height: 580px;
  background: url(../../assets/grandmachild.jpeg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 200px;
  box-shadow: unset;
  /* box-shadow: 1px 1px 50px rgba(255, 255, 255, 0.415); */
}

.careerInfo.animated .infoImageChild {
  animation: animatedBackground 1.4s ease-in-out forwards;
  transform-origin: 0% 100%;
}

.careerInfo .infoChild .dot {
  height: 45px;
  width: 45px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.careerInfo .infoChild .dot svg {
  height: 30px;
  width: 30px;
  fill: var(--mainBlue);
  transform: rotate(85deg);
}
.careerInfo.animated svg {
  animation: spinner 5s ease-out infinite 0.8s;
}
.careerInfo .infoChild:nth-child(2) .dot svg {
  height: 30px;
  width: 30px;
  fill: var(--mainBlue);
  transform: rotate(67deg);
}

.careerInfo .infotext {
  padding-top: 1.5em;
}
.careerInfo .infotextlink {
  color: var(--mainSkyBlue);
}
.careerInfo .infotextlink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.careerInfoButton {
  /* padding-left: 40px; */
  display: flex;
  justify-content: start;
}
.careerInfo.animated .career-button {
  animation: appearIn 1.6s ease-in forwards;
  transform-origin: 0% 50%;
}
.career-button {
  color: #cf6077;
  background-color: #080c18;
  border: 1.5px solid #e36b7a;
  border-radius: 2em;
  padding: 1.1rem 1.1rem;
  font-size: 1rem;
  cursor: pointer;
  width: 340px;
  text-align: center;
  margin-bottom: 30px;
}
.career-button:hover {
  color: #ffffff;
  /* background-color: transparent; */
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
