@font-face {
  font-family: "PoppinsMedium";
  src: local("PoppinsMedium"),
    url("../public/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "GratelosBold";
  src: local("GratelosBold"),
    url("../public/fonts/Gratelos/GratelosDisplay.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "BebasNeueBold";
  src: local("BebasNeueBold"),
    url("../public/fonts/Bebas/BebasNeue-Regular.ttf") format("truetype");
  font-weight: bold;
}
.font-face-gr {
  font-family: "GratelosBold" !important;
}

* {
  margin: 0;
  padding: 0;
  color: #f2f5f7;
  font-family: "Poppins", "PoppinsMedium";
  letter-spacing: 1px;
  font-weight: 700;
}
body {
  overflow-x: hidden;
  background-color: #080c18;
}
@keyframes appearIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  justify-content: center;
  display: flex;
  padding: 50px 0px 40px 0px;
}
.HomePage {
  width: 95%;
  max-width: 1800px;
  height: 100%;
  /* min-height: 3000px; */
  /* margin: 0px 50px; */
}
.bannerSection {
  height: 701px;
  padding: 50px 50px 40px 70px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  /* background-color: var(--mainBlue); */
  background-image: linear-gradient(
    to bottom,
    #0a1d33,
    #0b111e,
    #0b111e,
    #0b111e,
    #080c18
  );
}
nav {
  height: 6rem;
  /* width: 100%; */
  /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2); */
  display: flex;
  /* position: fixed;
  z-index: 10; */
}

/*Styling logo*/
.logo {
  display: flex;
  align-items: center;
  /* animation: appearIn 2s ease-in forwards; */
}
.logo img {
  height: 5rem;
  width: 5rem;
}
.logo svg {
  height: 50px;
  width: 50px;
}
.logo.animated svg {
  height: 50px;
  width: 50px;
  animation-name: appearIn, spinner;
  animation-timing-function: ease-in, ease-out;
  animation-duration: 0.6s, 6.6s;
  animation-delay: 0s, 0.6s;
  animation-fill-mode: forwards, none;
  animation-iteration-count: 1, infinite;
  /* animation: appearIn 2s ease-in forwards, spinner 3s ease-out infinite 3s; */
  /* animation: spinner 3s ease-out infinite 3s; */
}
/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  padding: 0 71px 0 160px;
  justify-content: space-evenly;
  align-items: center;
  /* text-transform: uppercase; */
}
.nav-links li a {
  text-decoration: none;
  margin: 0 14px;
  display: flex;
}
.nav-links li a:hover {
  color: var(--mainSkyBlue);
}
.nav-links li a:hover svg {
  fill: var(--mainSkyBlue) !important;
}
.nav-links li {
  position: relative;
  /* animation: appearIn 2s ease-in forwards; */
}
.nav-links.animated li:nth-child(1) {
  animation: appearIn 0.4s ease-in forwards;
  /* animation-duration: 0.5s; */
}
.nav-links.animated li:nth-child(2) {
  animation: appearIn 0.55s ease-in forwards;
  /* animation-duration: 1s; */
}
.nav-links.animated li:nth-child(3) {
  animation: appearIn 0.85s ease-in forwards;
  /* animation-duration: 1.5s; */
}
.nav-links.animated li:nth-child(4) {
  animation: appearIn 0.9s ease-in forwards;
  /* animation-duration: 2s; */
}
.nav-links.animated li:nth-child(5) {
  animation: appearIn 0.95s ease-in forwards;
  /* animation-duration: 2.5s; */
}

.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  /* background-color: var(--mainSkyBlue); */
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links li a:hover::before {
  width: 80%;
}
.navDropDown {
  /* margin-bottom: -20px; */
  margin-left: 4px;
  margin-top: 2px;
}
.nav-button-links {
  display: flex;
  list-style: none;
  padding: 0 0 0 10px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
/* .nav-button-links li {
} */
.nav-button-links.animated li:nth-child(1) {
  animation: appearIn 1s ease-in forwards;
  /* animation-duration: 3s; */
}
.nav-button-links.animated li:nth-child(2) {
  animation: appearIn 1.1s ease-in forwards;
  /* animation-duration: 3.5s; */
}

/*Styling Buttons*/
.login-button {
  display: flex;
  background-color: transparent;
  border: none;
  font-size: .9rem;
}
.login-button:hover {
  background-color: transparent;
  border: 1.5px solid #458ebe;
  /* color: #458ebe; */
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 40px;
  font-size: .9rem;
  cursor: pointer;
}
.login-button svg {
  width: 25px;
  height: 25px;
  margin: 0px 15px;
}
/* .login-button:hover {
  color: #131418;
  background-color: #f2f5f7;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
} */
.join-button {
  color: #131418;
  background-color: var(--mainSkyBlue);
  border: 1.5px solid var(--mainSkyBlue);
  border-radius: 2em;
  padding: 1rem 2.3rem;
  font-size: 1rem;
  cursor: pointer;
  width: 227px;
}
.join-button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
