@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
  --mainBackground: #0b0f17;
  --mainBlue: #1f283d;
  --mainRed: #ff6476;
  --mainSkyBlue: #84d7e9;
  --animate-delay: 0s;
}
@font-face {
  font-family: "PoppinsMedium";
  src: local("PoppinsMedium"),
    url("../public/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "GratelosBold";
  src: local("GratelosBold"),
    url("../public/fonts/Gratelos/GratelosDisplay.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "BebasNeueBold";
  src: local("BebasNeueBold"),
    url("../public/fonts/Bebas/BebasNeue-Regular.ttf") format("truetype");
  font-weight: bold;
}
.html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Poppins", "PoppinsMedium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* .font-face-gr {
  font-family: "GratelosBold" !important;
} */
code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
  font-family: "Poppins", sans-serif;
}
