.main {
  display: flex;
}

.bannerText {
  display: flex;
  align-items: start;
  height: 550px;
  font-size: 185px;
  width: 50%;
  line-height: 1em;
  padding-top: 50px;
  padding-right: 80px;
  font-family: "GratelosBold";
  /* transform: scaleY(1.4); */
  /* font-weight: 900 !important; */
}

.bannerInfo {
  width: 50%;
  display: flex;
}
.info {
  width: 50%;
  padding-top: 90px;
}
.infoimage {
  width: 50%;
  padding-top: 55px;
}
.infoChild {
  padding-bottom: 3.5em;
}
.infoImageChild {
  width: 80%;
  height: 550px;
  background: url(../../assets/pexels-alessandro-kelvin-2376268\ copy.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 200px;
  box-shadow: 1px 1px 50px rgba(255, 255, 255, 0.415);
}
.infoChild .dot {
  height: 45px;
  width: 45px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoChild .dot svg {
  height: 30px;
  width: 30px;
  fill: var(--mainBlue);
  transform: rotate(105deg);
}

.infotext {
  padding-top: 1.5em;
}
.infotextlink {
  color: var(--mainSkyBlue);
}
.infotextlink:hover {
  text-decoration: underline;
  cursor: pointer;
}
.downarrow {
  width: fit-content;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  border-top: transparent;
  padding-bottom: 1em;
  padding-top: 1em;
  background-image: linear-gradient(
    to top,
    #1a2233,
    #1a2233,
    #161c29,
    #111620,
    #0b0f17
  );
}
.downarrow svg {
  width: fit-content;
  fill: aliceblue;
  stroke: #ffffff;
}
